{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="titre1">Bienvenue dans <b>Blogify</b></h1>
    <img src="https://grand-slam.com.au/wp-content/uploads/2014/06/newspaper2.jpg" alt="" style="width:100%;">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias amet eius, est quod dolorem assumenda porro mollitia neque, ex repellendus enim deleniti sunt voluptas tenetur reprehenderit aspernatur. Mollitia, facilis sed.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti amet eveniet veniam eum, distinctio libero asperiores sed magni perferendis neque voluptatum corrupti suscipit repellat? Sapiente vitae quisquam et doloremque necessitatibus.</p>
{% endblock %}