{% extends 'base.html.twig' %}
{% block body %}   
    <article>
        <h2> Titre de l'article</h2>
        <div class="content">
          <img src="https://via.placeholder.com/350x150" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt praesentium fuga reprehenderit, at expedita facere?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt praesentium fuga reprehenderit, at expedita facere?</p>
          <hr>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius inventore, id natus quisquam impedit corrupti ut? Aut non fugit cupiditate iure veniam delectus, dolorum aliquam doloremque perspiciatis adipisci inventore assumenda cum consequatur quam, voluptates nostrum fugiat totam ea! Culpa id aliquam nihil rerum cum ea in iusto pariatur necessitatibus nemo?</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius inventore, id natus quisquam impedit corrupti ut? Aut non fugit cupiditate iure veniam delectus, dolorum aliquam doloremque perspiciatis adipisci inventore assumenda cum consequatur quam, voluptates nostrum fugiat totam ea! Culpa id aliquam nihil rerum cum ea in iusto pariatur necessitatibus nemo?</p>
        </div>
    </article>
{% endblock %}